h1 {
	font-size: 45px;
}

.table>tbody>tr>td {
	font-size: 18px;
}

#select-from,
#select-to {
	width:100%;
}

#add_kpi_btn {
	margin-bottom: 5%;
}

.project_btn_row {
	margin-bottom: 1%;
}

.campaign:hover,
.report:hover {
	background-color: #D6D6D6 !important;
	cursor: pointer;
};

.navbar-custom-left-menu {
	float: left;
}

.goals {
	text-align: center;
}